.gradle/
/local.properties
/keystore.properties
/.idea/*
!/.idea/copyright/
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
!/.idea/.name
!/.idea/icon.png
!/.idea/icon_dark.png
*.iml
.DS_Store
build/
captures/
sonatype.properties
